.modal-detail-server {
    .ant-modal-content{
        background-color: $backgroundHomeColor;

        .wrap-table-detail {
            height: 300px;
            overflow: hidden;
            box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.3);
            background-color: white;
            border-radius: 15px 15px 15px 15px;
        }

        table {
            .status {
                @include flexBox(row,flex-start,center);
                span {
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    border-radius: 6px;
                    margin-right: 7px;
                    background-color: $backgroundGreen;
                }
            }
        }
    }
}