.wrap-login {
    width: 100vw;
    height: 100vh;
    background-color: $backgroundLoginColor;
    font-family: $fontFamily;

    & .login {

        & > div {
            padding: 0 20px 0 20px;
            @include flexBox(row,center,center);

            & .form-login {
                width: 100%;
                height: 80%;
                overflow-x: hidden;
                @include flexBox(column,center,center);

                & > div {
                    margin-top: 40px;
                }
                & > div:first-child {
                    margin-top: 0;
                }

                & .logo {
                    display: inline-block;
                    img{
                        width: 10em;
                        height: 5em;
                    }
                }

                & .sign-in {
                    font-weight: 600;
                    font-size: 1.5em;
                }

                & .input {
                    width: 100%;
                    position: relative;
                    color: $textBlur;

                    label {
                        position: absolute;
                        width: 100%;
                        top: 10px;
                        left: 0;
                        font-size: 1.2em;
                        transition: top 0.3s ease, font-size 0.3s ease;
                        @include flexBox(row,space-between,flex-end);

                        svg {
                            width: 25px;
                            height: 25px;
                            stroke: $textBlur;
                            transition: width 0.3s ease, height 0.3s ease;
                        }
                        p {
                            line-height: 1;
                        }
                    }

                    input {
                        position: relative;
                        width: 100%;
                        height: 45px;
                        font-size: 1.3em;
                        padding-top: 15px;
                        border: none;
                        background-color: transparent;
                        outline: none;
                        border-bottom: 2px solid rgba($color: #000000, $alpha: 0.5);
                    }
                    span{
                        position: absolute;
                        height: 2px;
                        width: 100%;
                        bottom: 0;
                        left: 0;
                        transform: translateX(-100%);
                        transition: all 0.2s ease;
                        background-color: blue;
                    }

                    input:focus ~ label {
                        top: -10px;
                        color: blue;
                        font-size: 1em;
                        font-weight: 600;
                    }
                    input:valid ~ label {
                        top: -10px;
                        color: blue;
                        font-size: 1em;
                        font-weight: 600;
                    }
                    input:focus ~ label svg {
                        width: 22px;
                        height: 22px;
                        stroke: blue;
                    }
                    input:valid ~ label svg {
                        width: 22px;
                        height: 22px;
                        stroke: blue;
                    }
                    input:focus ~ span {
                        transform: translateX(0);
                    }
                    input:valid ~ span {
                        transform: translateX(0);
                    }
                }

                & .btn-login {
                    width: 100%;
                    height: 70px;
                    padding-top: 20px;
                    @include flexBox(row,center,center);

                    &  button {
                        border: none;
                        outline: none;
                        width: 250px;
                        font-size: 1.3em;
                        color: white;
                        border-radius: 15px;
                        height: 100%;
                        transition: all 0.3s ease;
                        background-color: $backgroundButtonColor;
                    }

                    &  button:hover {
                        background-color: rgba(205,132,92,0.6);
                        color: #555454;
                    }
                }

            }
        }
    }
}