& .wrap-page-server {
    width: 100%;
    height: 100%;

    & .page-header {
        height: 10%;
        @include flexBox(row,space-between);
        & .content-title {
            font-size: 1.4em;
            font-weight: 600;
        }

        button {
            width: 175px;
            height: 45px;
            border: none;
            border-radius: 13px;
            color: black;
            background-color: $backgroundButtonColor;
            opacity: 1;
            font-size: 1.1em;
            // font-weight: 600;
            @include flexBox(row,center,center);

            svg {
                width: 20px;
                height: 20px;
                fill: black;
                margin-right: 10px;
            }
        }
        & button:hover{
            opacity: 0.7;
         }
    }

    & .content-table{
        overflow: hidden;
        height: 90%;
        box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.3);
        background-color: white;
        border-radius: 15px 15px 15px 15px;

        .status {
            @include flexBox(row,flex-start,center);
            p {
                margin: 0;
                margin-left: 5px;
            }
            .on {
                display: inline-block;
                border-radius: 50%;
                background-color: $backgroundGreen;
            }
            .off {
                display: inline-block;
                border-radius: 50%;
                background-color: $backgroundRed;
            }
        }

        .action {
            @include flexBox(row,center,center);

            svg {
                width: 18px;
                height: 18px;
                fill: $backgroundRed;
            }
            svg:first-child {
                margin-right: 7px;
                fill: $backgroundGreen;
            }
        }
    }
}